footer {
  background-color: #ffcccb;
  padding: 30px;
  margin-top: 30px;
  text-align: center;
}
footer img {
  height: 100px;
}
footer i {
  color: black;
  font-size: 3rem;
  padding: 15px;
  transition-duration: 0.5s;
}
footer a:hover i {
  color: rgb(134, 134, 134);
}
